* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

input{
    outline: none;
}
button, a{
  display: block;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
  text-decoration:  none;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

